.text-left {
  text-align: right;
}
.textlocationx {
    text-align: left;
}

.cardx {
    overflow: hidden;
    border: 1px #eaeaea solid;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11 {
        float: right;
    }
}
.inputbase {
    font-size: 15px;

}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.inputtops {
    overflow: hidden;
    width: 100px;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    text-align: right;
    float: right;
    overflow: hidden;
    font-weight: bold;
    padding-top: 11px;
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11 {
    float: right;
  }
}
        #wrapper.toggled {
            padding-right: 0;
        }

            #wrapper.toggled #sidebar-wrapper {
        width: 0;
            overflow: hidden;
    }



#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 250px;
    bottom: 0px;
    margin-right: -250px;
    overflow-y: auto;
    background-color: white; /*rgb(42, 42, 42);*/
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: -9px 12px 53px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: -9px 12px 53px 0px rgba(0,0,0,0.63);
    box-shadow: -9px 12px 53px 0px rgba(0,0,0,0.63);
    color: #000000;
    overflow-x: hidden;
    color: #000000;
    background-color: rgb(243,243,243)
}

#wrapper.toggled {
    /*padding-right: 0px;*/
}

.settings-toggle {
    float: right;
}
.settings-toggle:hover {

}

.navbar-toggle {
    float: left;
    margin-left: 40px;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


@media(min-width:768px) {
    #sidebar-wrapper {
        width: 250px;
        top: 57px;
        overflow-y: auto;
    }

    .toggled#wrapper #sidebar-wrapper {
        right: 0px;
    }
    .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
      float: left;
  }
    .navbar-header {
      float: right;      
  }
      .navbar-nav {
    float: right;
    margin: 0;
  }
  .navbar-nav > li {
    float: right;
  }

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        padding-top: 15px;
    }

    #wrapper {
        padding-right: 250px;
    }
            #wrapper.toggled {
            padding-right:250px;
        }

            #wrapper.toggled #sidebar-wrapper {
        width: 250px;
/*            display: block;*/
    }
    .settings-toggle {
        display: none;
    }
}

.nav-tabs > li {
  float: right;
  margin-bottom: -1px;
}

.toggled#wrapper #sidebar-wrapper {
    width: 250px;
    position: fixed;
    top: 57px;
    bottom: 0px;
    margin-right: -250px;
    overflow-y: auto;
    right: 250px;
}


@media(max-width:767px) {
    #sidebar-wrapper {
        width: 0px;
        left: 0px;
        top: 0px;
        overflow-y: hidden;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 100%;
        left: 0px;
        top: 0px;
        display: block;
        z-index: 65535;
        overflow-y: auto;

    }
    .bodyoverflow {
        overflow: hidden;
        position: fixed; 
        width: 100%;
    }
}

.menuitem {
    cursor: pointer;
    height: 40px;
    font-size: 16px;
    color: black;
    text-align: right;
    vertical-align: middle;
    padding-top: 4px;
    text-decoration: none;
    overflow: hidden;
    padding-left: 10px;
}

.menuglyph {
    display: inline-block;
    width: 50px;
    height: 32px;
}

.menuitem:hover {
    height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #0083FF;
}

